<%-include('template/cabecera',{tituloweb: 'INICIO'}) %>


    <div id="contenedor">
        <%- include('template/navbar') %>

        <div id="titulo">
            <h1>INICIO</h1>
        </div>
        
        <div id="inicio">
            <div class="proyectosVigentes">
                <h4>PROYECTOS VIGENTES</h4>
            </div>
            <div class="recordatorios">
                <h4>RECORDATORIOS</h4>
            </div>
            <div class="bitacora">
                <h4>BITACORA</h4>
            </div> 
        </div>
        
    </div>

<%- include('template/piecera') %> 






