<%-include('template/cabecera',{tituloweb: 'INICIO'}) %>


<div id="contenedor">
    <%- include('template/navbar') %>
    <main id="contenedorInfo">
        <img id="logoInterfaz" src="./Imagenes/logo png.png" alt="">

        <section id="inicio" style="display: none;">
                    
            <div class="proyectosVigentes">
                <h4>PROYECTOS VIGENTES</h4>
            </div>
            <div class="recordatorios">
                <h4>RECORDATORIOS</h4>
            </div>
            <div class="bitacora">
                <h4>BITACORA</h4>
            </div>   
        </section>

    </main>
</div>

<%- include('template/piecera') %> 






