<%-include('template/cabecera',{tituloweb: 'INICIO'}) %>


<div id="contenedor">
    <%- include('template/navbar') %>
    
    <section id="inicio" >
                    
        <div class="proyectosVigentes">
            <h4>PROYECTOS VIGENTES</h4>
        </div>
        <div class="recordatorios">
            <h4>RECORDATORIOS</h4>
        </div>
        <div class="bitacora">
            <h4>BITACORA</h4>
        </div>   
    </section>

</div>

<%- include('template/piecera') %> 






