<%-include('template/cabecera',{tituloweb: 'REPORTES'}) %>

<div id="contenedor">
    <%- include('template/navbar') %> 

    <div id="titulo">
        <h1>REPORTES</h1>
    </div>
    
    <div id="tbPro">

        <div id="tb1">
            <P>AQUI VAS LOS REPORTES</P>

        </div>
       
        <div class="formPro">
            <P>AQUI SE ELIGEN LOS REPORTES</P>
        </div>
    </div>
    
    
</div>




<%- include('template/piecera') %> 

