*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:black;
}

/* organizacion del texto respunsive  */


/* LOGIN INTERFAZ */

#contLogin{
    border: solid 1px white;
    width: 98%;
    height: 98%;
    margin: 0 auto;
    position:absolute;
    top: 1%;
    left: 0;
    right: 0;
    bottom: 1%;
    margin: auto;
    background-image: url(/Imagenes/Fondo\ login.png);
    background-repeat: no-repeat;
    background-size:cover;
}
#login{
    width: 40%;
    height: 30%;
    margin: 13% auto;
    border: solid 1px silver; 
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px rgb(241, 245, 244);
    color: yellow;
    
}
#login input {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 1%;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: 0.5%;
    font-size: 100%; 
}
 #contLogin #login .btn{
    width: 40%;
    height: 20%;
    font-size: 100%;
    border: solid thin white;
    padding: .1%;
    border-radius: 2rem;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border-color: yellow;
    transition: all 0.3s ease;
    box-shadow: 0px 10px 10px -6px black;
}

#contLogin #login .btn:hover{
    transform: scale(0.9);
}

#login h2{
    font-size: 100%;
    padding: 2%;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    #login{
        width: 40%;
        height: 40%;
        margin: 13% auto;
        border: solid 1px silver; 
        border-radius: 10px;
        box-shadow: 1px 1px 10px 2px rgb(241, 245, 244);
        color: yellow;
        
    }
}


