*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:black;
}

/* organizacion del texto respunsive  */


/* LOGIN INTERFAZ */

#contLogin{
    width: 99%;
    margin: 0 auto;
    position:absolute;
    top: 1%;
    left: 0;
    right: 0;
    bottom: 1%;
    margin: auto;
    background-image: url(/Imagenes/Fondo\ login.png);
    background-repeat: no-repeat;
    background-size:cover;
}
#login{
    width: 40%;
    height: 30%;
    margin: 13% auto;
    border: solid 1px silver; 
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px rgb(241, 245, 244);
    color: yellow;
    
}
#login input {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: 1rem; 
}
 #contLogin #login .btn{
    width: 40%;
    height: 20%;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: transparent;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    border-color: yellow;
    transition: all 0.3s ease;
    box-shadow: 0px 10px 10px -6px black;
}

#contLogin #login .btn:hover{
    transform: scale(0.9);
}

#login h2{
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
}
/* DENTRO DE LA INTERFAZ*/

#contenedor{
    width: 99%;
    margin: 0 auto;
    position: absolute;
    top: 1%;
    left: 0;
    right: 0;
    bottom: 1%;
    margin: auto;
    background-image: url(/Imagenes/fondo\ interfaz.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    border: solid 1px white;
    color: white;
}



/* CONTENEDOR INFORMACION ABAJO DE LOS BOTONES : */

#contenedorInfo{
    width: 99%;
    height: 79%;
    margin: 0 auto;
    position: relative;
    border-radius: 40px; 
    
}

#contenedorInfo #logoInterfaz{
    width: 30%;
    height: 30%;
    margin-left: 35%;
    margin-top: 13%;
    position: absolute;
    opacity: 0.2;
    transition: all 0.3s ease;
}
#contenedorInfo #logoInterfaz:hover{
    transform: scale(0.9);
}


#contenedorInfo .btnCrear{
    font-size: 100%;
    font-weight: bold;
    width: 50%;
    margin-left: 25%;
    font-family: Arial;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -moz-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  text-shadow: 2px 2px 2px #666666;
  border: solid #ffffff 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#139936), to(#149e14));
  background: -moz-linear-gradient(top, #139936, #149e14);
}
#contenedorInfo .btnCrear:hover {
    background: #1b58b3;
  }
#contenedorInfo .btnEditar{
    font-size: 100%;
    font-weight: bold;
    width: 40%;
    margin-left: 30%;
    font-family: Arial;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -moz-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  text-shadow: 2px 2px 2px #666666;
  border: solid #ffffff 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#139936), to(#149e14));
  background: -moz-linear-gradient(top, #139936, #149e14);
}
#contenedorInfo .btnEditar:hover {
    background: #1b58b3;
}

#contenedorInfo .btnAgregar{
    margin-bottom: 15%;
    margin-top: 100%;
    font-size: 100%;
    font-weight: bold;
    width: 100%;
    font-family: Arial;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -moz-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  text-shadow: 2px 2px 2px #666666;
  border: solid #ffffff 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#139936), to(#149e14));
  background: -moz-linear-gradient(top, #139936, #149e14);
}
#contenedorInfo .btnAgregar:hover {
    background: #1b58b3;
}

#contenedorInfo .btnQuitar{
    font-size: 100%;
    font-weight: bold;
    width: 100%;
    font-family: Arial;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -moz-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  text-shadow: 2px 2px 2px #666666;
  border: solid #ffffff 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#991313), to(#9e1414));
  background: -moz-linear-gradient(top, #991313, #9e1414);
}
#contenedorInfo .btnQuitar:hover {
    background: #1b58b3;
}

#contenedorInfo .btnEdit{
    font-size: 100%;
    font-weight: bold;
    width: 25%;
    margin-left: 25%;
    font-family: Arial;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -moz-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  text-shadow: 2px 2px 2px #666666;
  border: solid #ffffff 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2a2366), to(#342772));
  background: -moz-linear-gradient(top, #2c2b6e, #332e7e);
}
#contenedorInfo .btnEdit:hover {
    background: #1b58b3;
}

#contenedorInfo .btnCreate{
    font-size: 100%;
    font-weight: bold;
    width: 24%;
    margin-left: 2%;
    font-family: Arial;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  -webkit-box-shadow: 1px 1px 3px #666666;
  -moz-box-shadow: 1px 1px 3px #666666;
  box-shadow: 1px 1px 3px #666666;
  text-shadow: 2px 2px 2px #666666;
  border: solid #ffffff 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#035f03), to(#044104));
  background: -moz-linear-gradient(top, #03410b, #04550f);
}
#contenedorInfo .btnCreate:hover {
    background: #1b58b3;
}








/* CONTENEDOR INFORMACION DE LA SECCION INICIO */

#inicio{
    width: 99%;
    height: 98%;
    margin-top: 0.4%;
    margin-left: 0.5%;
    border-radius: 40px; 
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    gap: 10px;
    position: absolute;
    z-index: 1;
    display: none;
}

.proyectosVigentes{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;

}
.proyectosVigentes h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;
}

.recordatorios{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;
}
.recordatorios h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;

}
.bitacora{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;
}
.bitacora h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;

}

/* CONTENEDOR INFORMACION DE LA SECCION PROYECTOS */

#proyectos{
    width: 99%;
    height: 98%;
    margin-top: 0.4%;
    margin-left: 0.5%;
    border-radius: 40px; 
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 20px;
    position: absolute;
    z-index: 10;
    
}


.selectProyec{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;

}

.selectProyec h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;
}
.selectProyec .tablaProyec{
    margin: 2% auto;
    width: 95%;
    height: 85%;
    border: solid 1px white;
}


.infoProyec{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;
}

.infoProyec h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;
}
.infoProyec .editarProyec{
    margin: 1% auto;
    width: 95%;
    height: 85%;
    border: solid 1px white;
}


/* CONTENEDOR INFORMACION DE LA SECCION EMPLEADOS */
#empleados{
    
    width: 99%;
    height: 98%;
    margin-top: 0.4%;
    margin-left: 0.5%;
    border-radius: 40px; 
    display: grid;
    grid-template-columns: 3.5fr 3.5fr 1fr 4fr;
    gap: 10px;
    position: absolute;
    z-index: 30;
}

.selecProEmple{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;

}
.selecProEmple h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;
}
.selecProEmple .tablaSelecProEmple{
    margin: 2% auto;
    width: 95%;
    height: 90%;
    border: solid 1px white;
}

.emplePro{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;
}
.emplePro h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;
}
.emplePro .tablaEmplePro{
    margin: 2% auto;
    width: 95%;
    height: 90%;
    border: solid 1px white;
}
.bdEmple{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;
}
.bdEmple h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;

}
.bdEmple .tablaBdEmple{
    margin: 2% auto;
    width: 95%;
    height: 82%;
    border: solid 1px white;
}

/* CONTENEDOR INFORMACION DE LA SECCION CLIENTES */
#cliente{
    width: 99%;
    height: 98%;
    margin-top: 0.4%;
    margin-left: 0.5%;
    border-radius: 40px; 
    display: grid;
    grid-template-columns: 3.5fr 3.5fr 1fr 4fr;
    gap: 10px;
    position: absolute;
    z-index: 40;
}

.selecProCliente{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;

}
.selecProCliente h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;
}
.selecProCliente .tablaSelecProCliente{
    margin: 2% auto;
    width: 95%;
    height: 90%;
    border: solid 1px white;
}

.clientePro{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;
}
.clientePro h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;
}
.clientePro .tablaClientePro{
    margin: 2% auto;
    width: 95%;
    height: 90%;
    border: solid 1px white;
}
.bdCliente{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;
}
.bdCliente h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;

}
.bdCliente .tablaBdCliente{
    margin: 2% auto;
    width: 95%;
    height: 82%;
    border: solid 1px white;
}

/* CONTENEDOR INFORMACION DE LA SECCION ALMACEN */
#almacen{
    width: 99%;
    height: 98%;
    margin-top: 0.4%;
    margin-left: 0.5%;
    border-radius: 40px; 
    display: grid;
    grid-template-columns: 3.5fr 3.5fr 1fr 4fr;
    gap: 10px;
    position: absolute;
    z-index: 50;
}

.selecProAlmacen{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;

}
.selecProAlmacen h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;
}
.selecProAlmacen .tablaSelecProAlmacen{
    margin: 2% auto;
    width: 95%;
    height: 90%;
    border: solid 1px white;
}

.almacenPro{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;
}
.almacenPro h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;
}
.almacenPro .tablaAlmacenPro{
    margin: 2% auto;
    width: 95%;
    height: 90%;
    border: solid 1px white;
}
.bdAlmacen{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;
}
.bdAlmacen h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;

}
.bdAlmacen .tablaBdAlmacen{
    margin: 2% auto;
    width: 95%;
    height: 82%;
    border: solid 1px white;
}

/* CONTENEDOR INFORMACION DE LA SECCION PROVEEDORES */
#proveedor{
    width: 99%;
    height: 98%;
    margin-top: 0.4%;
    margin-left: 0.5%;
    border-radius: 40px; 
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 20px;
    position: absolute;
    z-index: 60;   
}

.selectProveedor{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;

}

.selectProveedor h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;
}
.selectProveedor .tablaProveedor{
    margin: 2% auto;
    width: 95%;
    height: 85%;
    border: solid 1px white;
}


.infoProveedor{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;
}

.infoProveedor h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;
}
.infoProveedor .editarProveedor{
    margin: 1% auto;
    width: 95%;
    height: 85%;
    border: solid 1px white;
}
/* CONTENEDOR INFORMACION DE LA SECCION REPORTES */
#reportes{
    width: 99%;
    height: 98%;
    margin-top: 0.4%;
    margin-left: 0.5%;
    border-radius: 40px; 
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 20px;
    position: absolute;
    z-index: 70;
    
}


.selectReportes{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;

}

.selectReportes h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;
}
.selectReportes .tablaReportes{
    margin: 2% auto;
    width: 95%;
    height: 85%;
    border: solid 1px white;
}

.infoReportes{
    width: 90%;
    height: 95%;
    margin: 15px auto;
    border: solid 0.5px silver;
    border-radius: 20px;
    box-shadow: 0px 3px 2px 5px black;
}

.infoReportes h4{
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 5px 6px black;
}
.infoReportes .editarReportes{
    margin: 1% auto;
    width: 95%;
    height: 85%;
    border: solid 1px white;
}