
    <nav id="nav-interfaz">
        <div class="version">
            <h1>GESPRO 1.0</h1>
        </div>
        
        <div class="btn">
            <div >
                <a href="inicio"><img src="/Imagenes/Inicio.png" alt=""></a>
                <h5>INICIO</h5>
            </div>
            <div>
                <a href="/proyectos"><img src="/Imagenes/Proyectos2.png" alt=""></a>
                <h5>PROYECTOS</h5>
            </div>
            <div>
                <a href="/empleados"><img src="/Imagenes/obrero 2.png" alt=""></a>
                <h5>EMPLEADOS</h5>
            </div>
            <div>
                <a href="/clientes"><img src="/Imagenes/clientes icono.png" alt=""></a>
                <h5>CLIENTES</h5>
            </div>
            <div>
                <a href="/almacen"><img src="/Imagenes/Herramientas.png" alt=""></a>
                <h5>ALMACEN</h5>
            </div>
            <div>
                <a href="/proveedores"><img src="/Imagenes/proveedores75.png" alt=""></a>
                <h5>PROVEEDORES</h5>
            </div>
            <div>
                <a href="/reportes"><img src="/Imagenes/Reportes.png" alt=""></a>
                <h5>REPORTES</h5>
            </div>
            <div>
                <a href=""><img src="/Imagenes/us.png" alt=""></a>
                <h5>+USUARIOS</h5>
            </div>
        </div>
        <div class="salir">
            
            <a href="/"  id="btnSalir"><img id="imgsalir" src="/Imagenes/salir.png" alt=""></a>
            <h5>SALIDA</h5> 
            
            
        </div>
       
    </nav>




